### 在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果。請嘗試想像一個你需要的資料結構 (裡面的值是隨機的)，然後用程式碼範例的方法把它變成 DataFrame

#### e.g. 想像一個 dataframe 有兩個欄位，一個是球隊，一個是勝率，求勝率最高的球隊

In [2]:
import pandas as pd
import numpy as np

In [3]:
#np.random.rand(10)

In [4]:
data = {
        '球隊':['洋基','紅襪','光芒','藍鳥','金鷹'],
        '勝率':[np.random.rand(),np.random.rand(),np.random.rand(),np.random.rand(),np.random.rand()]
       }
data = pd.DataFrame.from_dict(data)

In [8]:
data

         勝率  球隊
0  0.109445  洋基
1  0.130004  紅襪
2  0.967034  光芒
3  0.672513  藍鳥
4  0.431914  金鷹

In [6]:
data.loc[data['勝率'].idxmax()]

勝率    0.967034
球隊          光芒
Name: 2, dtype: object